<nav id="footer" class="bg-red-700">
    <div class="pt-4 md:flex md:items-center md:justify-center " style="border-top:1px solid white">
        <ul class="">
            <li class="md:mx-2 md:inline leading-7 text-sm" id="footer-navi-2"><a class="text-white underline font-extrabold" href="/disclaimer">Disclaimer</a></li>
            <li class="md:mx-2 md:inline leading-7 text-sm" id="footer-navi-2"><a class="text-white underline font-extrabold" href="/cookie">Cookie policy</a></li>
            <li class="md:mx-2 md:inline leading-7 text-sm" id="footer-navi-2"><a class="text-white underline font-extrabold" href="/privacy">Privacy</a></li>
        </ul>
    </div>
</nav>
